html,body,.website{ 
    height: 100%;
    margin: 0;
    padding: 0;
}

.website{ 
    background-color: blueviolet;
}

.Header{ 
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkslategrey;
}